<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styles/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

    <title>Sistema de Login</title>
</head>
<body>
    <main>
        <div class="login">
            <h1>RB Sign Up</h1>
            <form action="/signup" method="post">
                <div class="container">
                    <label for="username">
                        <i class="fas fa-user"></i>
                    </label>
                    <input type="text" name="name" placeholder="Nome" id="name" required>
                </div>
                <div class="container">    
                    <label for="email">
                        <i class="fas fa-at"></i>
                    </label>
                    <input type="text" name="email" placeholder="Email" id="email" required>
                </div>
                <div class="container">
                    <label for="password">
                        <i class="fas fa-lock"></i>
                    </label>
                    <input type="password" name="password" placeholder="Senha" id="password" required>
                </div>
                <input type="submit" value="Entrar">
            </form>
        </div>
    </main>
</body>
</html>